<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="stylecode.kosta180.mapper.shoppingmallMapper">
	<!-- 처음/검색 시 리스트 -->
	<select id="listShoppingMall" resultType="ShoppingmallVO" parameterType="ShoppingMallSearchVO">
	SELECT	*
	FROM	SPM
	WHERE 	SPMDATE is not null
  	<if test="searchKey!=null">
			 AND spmNm LIKE '%'|| #{searchKey} ||'%'
	</if> 
	ORDER BY	spmViews desc 
	</select>
	
	<!-- 페이징 처리 -->	
	<select id="getListCount" resultType="int" parameterType="ShoppingMallSearchVO">
	select 	count(*)
	from 	SPM
	WHERE 	SPMDATE is not null
	<if test="searchKey!=null">
			AND spmNm LIKE '%'|| #{searchKey} ||'%'
	</if> 
	</select>
	
	<!-- 필터 페이징 처리 -->
	<select id="getFilterListCount" resultType="int" parameterType="SpmFilterVO">
	select 	count(*)
	from 	SPM
	WHERE 	SPMDATE is not null AND
		<choose>
			<when test="category == '의류' ">
				NOT SPMCLASSIFCN LIKE '%'|| '슈즈' ||'%' AND NOT SPMCLASSIFCN LIKE '%'|| '패션잡화' ||'%' AND NOT SPMCLASSIFCN LIKE '%'|| '쥬얼리' ||'%'
			</when>
			<otherwise>
				SPMCLASSIFCN=#{category}
			</otherwise>
		</choose>
	<if test="age != null || style != null">
		AND(
			<choose>
				<!-- 필터 항목이 두개 다 일 때 -->
				<when test="age != null and style != null"> 
					<foreach collection="age" item="item" separator="OR">
						SPMAGES LIKE '%' || #{item} ||'%'
					</foreach>				
					OR
					<foreach collection="style" item="item" separator="OR">
						SPMCLASSIFCN LIKE '%' || #{item} ||'%' 
					</foreach>
				
				</when>
				
				<!-- 필터 항목이 하나만 있을 때 -->
				<otherwise>

					<if test="age != null">					
						<foreach collection="age" item="item" separator="OR">
							SPMAGES LIKE '%' || #{item} ||'%'
						</foreach>
					</if>
					<if test="style != null">					
						<foreach collection="style" item="item" separator="OR">
							SPMCLASSIFCN LIKE '%' || #{item} ||'%' 
						</foreach>
					</if>
				</otherwise>
			</choose>
		) <!-- age와 style 괄호로 묶어서 처리 -->
	</if> 
	</select>
	
	<!-- 필터 시 리스트 -->
 	<select id="listShoppingMallFilter" resultType="ShoppingmallVO" parameterType="SpmFilterListVO">
		SELECT 	distinct spmNm, spmInfo, spmEnrollNo, spmTn
		FROM 	SPM
		WHERE 	SPMDATE is not null AND spmEnrollNo in
		<choose>
		<when test="filterList.size ==0">
		(99999999999)
		</when>
		<otherwise>
		<foreach collection="filterList" item="item" separator="," open="(" close=")"> 
				#{item}
		</foreach>	
		</otherwise>
		</choose>
	</select> 
	
	<!-- 쇼핑몰 필터 -->
	<select id="spmFilter" parameterType="SpmFilterVO" resultType="Integer">

		SELECT 	DISTINCT SPMENROLLNO 
		FROM 	SPM
		WHERE 	SPMDATE is not null AND
		<choose>
			<when test="category == '의류' ">
				NOT SPMCLASSIFCN LIKE '%'|| '슈즈' ||'%' AND NOT SPMCLASSIFCN LIKE '%'|| '패션잡화' ||'%' AND 
				NOT SPMCLASSIFCN LIKE '%'|| '쥬얼리' ||'%' AND NOT SPMCLASSIFCN LIKE '%'|| '가방'
			</when>
			<otherwise>
				SPMCLASSIFCN= #{category}
			</otherwise>
		</choose>
		<if test="age != null || style != null">			
			AND(
			<choose>

				<!-- 필터 항목이 두개 다 일 때 -->
				<when test="age != null and style != null"> 
					<foreach collection="age" item="item" separator="OR">
						SPMAGES LIKE '%' || #{item} ||'%' 
					</foreach>				
					OR
					<foreach collection="style" item="item" separator="OR">
						SPMCLASSIFCN LIKE '%' || #{item} ||'%' 
					</foreach>
				
				</when>
				
				<!-- 필터 항목이 하나만 있을 때 -->
				<otherwise>

					<if test="age != null">					
						<foreach collection="age" item="item" separator="OR">
							SPMAGES LIKE '%' || #{item} ||'%'
						</foreach>
					</if>
					<if test="style != null">					
						<foreach collection="style" item="item" separator="OR">
							SPMCLASSIFCN LIKE '%' || #{item} ||'%'  
						</foreach>
					</if>
				</otherwise>
			</choose>
			) <!-- age와 style 괄호로 묶어서 처리 -->

		</if>
	</select>

	<!-- 쇼핑몰 담당자 신청서 작성(담당자 테이블) -->
	<insert id="requestSPM" parameterType="SpmRequestVO">
		Insert Into SPMMANAGER Values (#{mId}, #{spmEnrollNo}, #{mCall})
	</insert>
	
	<!-- 쇼핑몰 담당자 신청서 작성(쇼핑몰 테이블) -->
	<insert id="requestSPM2" parameterType="SpmRequestVO">
		Insert Into SPM(SPMENROLLNO, SPMNM, SPMURL, SPMCLASSIFCN, SPMAGES, SPMINFO, SPMTN) 
			Values (#{spmEnrollNo}, #{spmNm}, #{spmURL}, #{spmClassifcn}, #{spmAges}, #{spmInfo}, #{spmTn})
	</insert>
	
	<!-- 입점신청 편의를 위해 사용하는  쇼핑몰 리스트 -->
	<select id="listShoppingMallR" resultType="int">
		SELECT	max(SPMENROLLNO)
		FROM	SPM
		ORDER BY 	SPMENROLLNO
	</select>
	
	<select id="listRequestSPM" parameterType="SpmRequestVO">
		SELECT 	*
		FROM 	SPM s, SPMMANAGER sm, MEMBER m
		WHERE 	s.SPMENROLLNO=sm.SPMENROLLNO AND s.SPMNM=#{spmNm}
	</select>
</mapper>